@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@if (User.Identity.IsAuthenticated)
{
    <p>You have logined.</p>
}
else
{
    
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
