@page "/relations"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using MindNote.Client.APIServer

<div style="text-align:center">
    <svg id="svg" height="600" width="1000" preserveAspectRatio="xMidYMid meet" style="border: 1px solid"></svg>
</div>

@functions {
    protected override async Task OnInitAsync()
    {
        var rand = new Random();

        NodesClient nsclient = new NodesClient(Http);
        var ns = await nsclient.GetAllAsync();
        var jns = ns.Select(x => new { id = x.Id.ToString(), name = x.Name});

        RelationsClient rsclient = new RelationsClient(Http);
        var rs = await rsclient.GetAllAsync();
        var jrs = rs.Select(x => new { source = x.From.ToString(), target = x.To.ToString(), value = rand.Next(100) });

        await JSRuntime.InvokeAsync<object>(
                "showSvg", "svg", new { nodes = jns, links = jrs });
    }
}
