@page "/notes/{id:int}/edit"
@attribute [Authorize]
@using MindNote.Frontend.Client.Shared
@using MindNote.Frontend.SDK.API.Models
@using System.Linq
@inject INotesClient NoteClient
@inject ICategoriesClient CategoriesClient
@inject IUriHelper UriHelper

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="notes">Notes</a></li>
    <li class="breadcrumb-item">
        <a href="notes/@Id">@Id</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
</ul>

@if (Model == null || Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NoteEdit Model="@Model" OnSubmit="@OnSubmit" Categories="@Categories" />
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    private int Id { get; set; }

    NoteEditModel Model { get; set; }

    IEnumerable<Category> Categories { get; set; }

    protected override async Task OnInitAsync()
    {
        var user = (await authenticationStateTask).User;

        Note item = await NoteClient.Get(Id);
        if (item.User.Id != UserHelper.GetId(user)) return;

        Categories = (await CategoriesClient.Query()).Nodes;

        Model = new NoteEditModel(item);
    }

    private async Task OnSubmit()
    {
        var id = await NoteClient.Update(Id, Model.ToMutation());
        UriHelper.NavigateTo($"notes/{id}");
    }
}
