<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AccountManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a></li>
    <li class="nav-item">
        <a class="nav-link" href="@Helpers.UserHelper.IdentityManageUrl">
            <i class="fa fa-external-link-alt"></i>
            Manage on Identity
        </a>
    </li>
</ul>

