@page
@model MindNote.Server.Host.Pages.Categories.ViewModel
@{
    ViewData["Title"] = Model.Data.Data.Name;
    ViewData["Id"] = "Categories";
}

@*
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">MindNote</a></li>
        <li class="breadcrumb-item"><a asp-page="/Notes/Index">Categories</a></li>
        <li class="breadcrumb-item active">@Model.Data.Data.Id</li>
    </ul>
*@

<h1 class="display-4 mb-4 text-center"><category-display value="Model.Data.Data"></category-display></h1>

<partial name="/Pages/Notes/_NoteListWaterfallPartial.cshtml" model="Model.Notes"/>

