@page "/notes"
@using MindNote.Client.Host.Shared
@using MindNote.Client.SDK.API
@using System.Linq
@inject INotesClient NoteClient
@inject IUsersClient UserClient
@inject ICategoriesClient CategoryClient

<h1>Notes</h1>

@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NoteListWaterfall Data="@Data" Column="1"/>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    IList<NoteViewModel> Data { get; set; }

    protected override async Task OnInitAsync()
    {
        var user = (await authenticationStateTask).User;
        string token = null;
        if(user.Identity.IsAuthenticated)
            token = UserHelper.GetAccessToken(user);

        NoteClient.BaseUrl = Settings.ApiServerUrl;
        CategoryClient.BaseUrl = Settings.ApiServerUrl;
        UserClient.BaseUrl = Settings.ApiServerUrl;

        var ms = await NoteClient.GetAll(token);
        var data = ms.Select(x => new NoteViewModel{Data = x}).ToList();
        foreach(var v in data)
            await v.Load(CategoryClient, UserClient, token);
        Data = data;
    }
}
