@page "/categories/{id:int}/edit"
@attribute [Authorize]
@inject CategoriesClient CategoryClient
@inject IUriHelper UriHelper

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="categories">Categories</a></li>
    <li class="breadcrumb-item">
        <a href="categories/@Id">@Id</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
</ul>

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CategoryEdit Model="@Model" OnSubmit="@OnSubmit" />
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    private int Id { get; set; }

    CategoryEditModel Model { get; set; }

    protected override async Task OnInitAsync()
    {
        var user = (await authenticationStateTask).User;
        Category item = await CategoryClient.Get(Id);
        if (item.User.Id != UserHelper.GetId(user)) return;

        Model = new CategoryEditModel(item);
    }

    private async Task OnSubmit()
    {
        var id = await CategoryClient.Update(Id, Model.ToMutation());
        UriHelper.NavigateTo($"categories/{id}");
    }
}
