@page "/categories/new"
@attribute [Authorize]
@using MindNote.Data.Raws
@inject ICategoriesClient CategoryClient
@inject IUriHelper UriHelper

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
    <li class="breadcrumb-item active">New</li>
</ul>

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CategoryEdit Model="@Model" OnSubmit="@OnSubmit" />
}

@code {
    CategoryEditModel Model { get; set; } = new CategoryEditModel();

    private async Task OnSubmit()
    {
        var item = new RawCategory
        {
            Name = Model.Name,
            Color = Model.Color,
            Class = Model.Class,
        };
        var id = await CategoryClient.Create(item);
        UriHelper.NavigateTo($"categories/{id}");
    }
}
