@page
@model MindNote.Server.Host.Pages.Nodes.EditModel
@{
    if (Model.IsNew)
    {
        ViewData["Title"] = "Create";
    }
    else
    {
        ViewData["Title"] = $"{Model.Data.Name} - Edit";
    }
    ViewData["Id"] = "Nodes";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">MindNote</a></li>
    <li class="breadcrumb-item"><a asp-page="./Index">Nodes</a></li>
    @if (!Model.IsNew)
    {
        <li class="breadcrumb-item">
            <a asp-page="./View" asp-route-id="@Model.Data.Id">@Model.Data.Id</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    }
    else
    {
        <li class="breadcrumb-item active">Create</li>
    }
</ul>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PostData.Data.Id" value="@Model.Data.Id" />
    <div class="input-group" style="margin-top:10px">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" asp-for="PostData.Data.Name" value="@Model.Data.Name" />
        <span asp-validation-for="PostData.Data.Name" class="text-danger"></span>
        <div class="input-group-append">
            @if (Model.IsNew)
            {
                <button type="submit" asp-page-handler="Create" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                </button>
            }
            else
            {
                <button type="submit" asp-page-handler="Edit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <button type="submit" asp-page-handler="Delete" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            }
        </div>
    </div>
    <style>
        div textarea {
            min-height: 500px;
        }
    </style>
    <div class="form-group" style="margin-top:10px">
        <label class="control-label">Content</label>
        <textarea class="form-control" asp-for="PostData.Data.Content"></textarea>
        <span asp-validation-for="PostData.Data.Content" class="text-danger"></span>
    </div>
</form>
