@page
@model MindNote.Frontend.Server.Pages.Notes.IndexModel
@{
    ViewData["Title"] = "Notes";
    ViewData["Id"] = "Notes";
}

<div>
    <style>
        .card-columns {
            column-count: 1;
        }
    </style>
    <vc:note-list-waterfall token="@Model.Token" data="@Model.Data" paging="@Model.Paging" column="@null"></vc:note-list-waterfall>
</div>

@section corner {
    <div class="btn-group-vertical">
        <a asp-page="./List" class="btn btn-dark"><i class="fa fa-list"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-page="./Edit" class="btn btn-success"><i class="fa fa-plus"></i></a>
        }
    </div>
}