@layout BaseLayout
@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">MindNote User</a>
        <button class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="users/@CurrentUserId">
                    <span class="fa fa-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="users/@CurrentUserId/About">
                    <span class="fa fa-user" aria-hidden="true"></span> About
                </a>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span> MindNote
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    internal static string CurrentUserId { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}