@page
@model MindNote.Server.Host.Pages.Notes.IndexModel
@{
    ViewData["Title"] = "Notes";
    ViewData["Id"] = "Notes";
}

<div class="card-columns" style="column-count: 1">
    @foreach (var item in Model.Data)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-page="./View" asp-route-id="@item.Data.Id" style="color: black">@item.Data.Title</a>
                </h4>
                <partial name="_NoteMetadataPartial" model="item"/>
                <p class="card-text">
                    <text-clipper text="@item.Data.Content"></text-clipper>
                </p>
                <a asp-page="./View" asp-route-id="@item.Data.Id" class="card-link" style="color: #555; border-bottom: 1px solid #666;">Read more</a>
            </div>
        </div>
    }
</div>

<div class="corner">
    <div class="btn-group-vertical">
        <a asp-page="./List" class="btn btn-dark"><i class="fa fa-list"></i></a>
    </div>
</div>