@page
@model MindNote.Server.Host.Pages.Notes.IndexModel
@{
    ViewData["Title"] = "Notes";
    ViewData["Id"] = "Notes";
}

<div>
    <style>
        .card-columns {
            column-count: 1;
        }
    </style>
    <vc:note-list-waterfall token="@Model.Token" data="@Model.Data" paging="@Model.Paging"></vc:note-list-waterfall>
</div>

@section corner {
    <div class="btn-group-vertical">
        <a asp-page="./List" class="btn btn-dark"><i class="fa fa-list"></i></a>
    </div>
}