@page
@model MindNote.Server.Host.Pages.Notes.ViewModel
@{
    ViewData["Title"] = Model.Data.Data.Title;
    ViewData["Id"] = "Notes";
}

<h1 class="display-4" style="text-align:center">@Html.DisplayFor(model => model.Data.Data.Title)</h1>
<div style="text-align:center" class="m-4">
    <partial name="_NoteMetadataPartial" model="Model.Data" />
</div>
<partial name="_MarkdownViewerPartial" model="Model.Markdown" />

@section corner {
    <form method="post">
        <input type="hidden" asp-for="PostData.Data.Id" value="@Model.Data.Data.Id" />
        <div class="btn-group-vertical">
            <a asp-page="./List" class="btn btn-dark"><i class="fa fa-list"></i></a>
            <a asp-page="./Edit" asp-route-id="@Model.Data.Data.Id" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </a>
            <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Data.Data.Id" class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </form>
}
