@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="row" style="margin-left:0px">
    <form method="post">
        <button type="submit" asp-page-handler="Initialize" class="btn btn-outline-primary">
            Initialize
        </button>
    </form>
    <form method="post" style="margin-left:10px">
        <button type="submit" asp-page-handler="Clear" class="btn btn-outline-danger">
            Clear
        </button>
    </form>
</div>